# Exclude default R data formats and R studio files that may accidentally save your data.
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

# Exclude the following directories 
/data/
/output/

# Exclude data file types
*.doc
*.docx
*.xls
*.xlsx
*.xlsm
*.xlsb
*.csv
*.pdf
*.svg
*.RDS
*.rds

# Exclude output file types
*.html

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

### Windows specific stuff ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
